<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}  
    <link rel="stylesheet" href="{% static 'css/style copy.css' %}">
    <title>Квесты Белая Мишка</title>
</head>
<body>
    <header>
        <div class="header">
            <div class="container">
                <span class="header-txt">
                    <img src="{% static 'images/menu-page-img/Q-logo.svg' %}" alt="" class="logo">КВЕСТ <br> Белая Мишка
                </span>
                <img src="{% static 'images/menu-page-img/Q-menu.svg' %}" alt="" class="menu-btn" onclick="toggleMenu()">
            </div>
        </div>
        <nav id="menu" class="menu">
            <div class="container">
                <ul>
                    <div class="border-menu"></div>
                    <li><a href="{% url 'home_page'%}"><img src="{% static 'images/menu-img/Q-home.svg' %}" alt="">Главная</a></li>
                    <li><a href="#"><img src="{% static 'images/menu-img/Q-profile.svg' %}" alt="">Профиль</a></li>
                    <li><a href="#"><img src="{% static 'images/menu-img/Q-my_reserve.svg' %}" alt="">Мои бро́ни</a></li>
                    <li><a href="#"><img src="{% static 'images/menu-img/Q-my_like.svg' %}" alt="">Лайки</a></li>
                    {% if not user.is_authenticated %}
                    <li><a href="{% url 'sign_up_page' %}"><img src="{% static 'images/menu-img/Q-leave.svg' %}" alt="">Создать аккаунт</a></li>
                    <li><a href="{% url 'login_page' %}"><img src="{% static 'images/menu-img/Q-leave.svg' %}" alt="">Зайти в аккаунт</a></li>
                {% else %}
                    <li><a href="{% url 'logout_action' %}"><img src="{% static 'images/menu-img/Q-leave.svg' %}" alt="">{{ user.username }} Выйти с аккаунта</a></li>
                {% endif %}                
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <div class="info-txt">
            <div class="container">
                <div class="title">Белая Мишка <br>Приключения для смелых</div>
                {% for desc in infotxts %}
                <div class="desc">{{ desc.title }}</div>
                {% endfor %}
            </div>
        </div>
        <div class="filter">
            <div class="container">
                <h2>Фильтр:</h2>
                <div class="filter-buttons">
                    <a href="{% url 'home_page' %}" class="active">Все</a>
                    {% for age in unique_ages %}
                        <a href="{% url 'filtered_quests' 'age' age.age__name %}">{{ age.age__name }}</a>
                    {% endfor %}
                    {% for slozhno in unique_slozhno %}
                        <a href="{% url 'filtered_quests' 'slozhno' slozhno.slozhno__name %}">{{ slozhno.slozhno__name }}</a>
                    {% endfor %}
                    {% for strashno in unique_strashno %}
                        <a href="{% url 'filtered_quests' 'strashno' strashno.strashno__name %}">{{ strashno.strashno__name }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>             
        {% for quest in quests %}
        <div class="quest-card">
            <div class="quest-container1">
                <div>
                    <a href="{% url 'book_page' pk=quest.pk %}" class="quest-title">{{ quest.name }}</a>
                </div>
                <div class="quest-image">
                    <img src="{{ quest.image_url }}" alt="" class="card-photo">
                </div>
                <p class="quest-description">
                    {{ quest.description }}
                </p>
                <div class="quest-details">
                    <p>Сложность: <span><strong>{{ quest.slozhno.name }}</strong></span></p>
                    <p>Страшность: <span><strong>{{ quest.strashno.name }}</strong></span></p>
                </div>
                <div class="quest-footer">
                    <button class="reserve-btn">
                        <span class="icon">
                            <img src="{% static 'images/menu-page-img/Q-reserve.svg' %}" alt="" class="reserve-icon">
                        </span> 
                        Забронировать
                    </button>
                    <img src="{% static 'images/menu-page-img/Q-like.svg' %}" alt="" class="like-icon" id="likeBtn">
                    <span class="age"><strong>{{ quest.age.name }}</strong></span>
                </div>                
            </div>
        </div>
        {% endfor %}
    </main>
    <script src="{% static 'script/script.js' %}"></script>
</body>
</html>
