
* {
    padding: 0;
    margin: 0;
    font-family: sans-serif
}


.container {
    margin-left: 100px;
    margin-right: 100px;

}
.logo {
    color: white;
    text-decoration: none;

}
.link {
    color: blueviolet;
    text-decoration: none;

}
.link:hover {
    color: black;
}



header {
    background-color: rgb(30, 30, 226);
    padding: 20px 50px;

}
.wrap {
    padding: 20px;
    background-color: rgb(0, 0, 0);
}




.block {
    padding: 90px 0 ;
    background-color: blueviolet;

}


.card {
    padding: 10px;
    border: 1px solid;
    border-radius: 10px;
    margin-bottom: 10px;

}
.title {
    font-size: 65px;
    margin-bottom: 20px;
    color :rgb(0, 0, 0)
}
.card-title {
    font-size: 23px;
    margin-bottom: 10px;

}
.card-date {
    font-size: 18px;
    font-weight: 400;
}
.card-descripton {
    font-size: 16px;
    text-align: justify;
}

